#About .Card {
	background-color: hsla(0, 0%, 0%, 0.1);
	border: 5px solid white;
	border-radius: 10px;
	padding: 25px;
	color: white;

	>.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.number {
		font-size: 64px;
	}
	
	.title {
		font-size: 40px;
	}
	
	.description {
		font-family: var(--sofia-sans);
		font-weight: 600;
		font-size: 24px;
	}
}