#About {
	padding-top: clamp(1.0625rem, 0.3375rem + 3.625vw, 4.6875rem);
	font-family: var(--sofia-sans);

	background-color: hsl(170, 17%, 41%);


	/* border-radius: 0 0 clamp(2rem, 1.5091rem + 2.1818vw, 5rem) clamp(2rem, 1.5091rem + 2.1818vw, 5rem);
	transform-origin: bottom;
	box-shadow: 24px 30px 60px 21px hsla(0, 0%, 0%, 0.25); */



	>div:nth-child(1) {
		padding: clamp(1.0625rem, 0.3375rem + 3.625vw, 4.6875rem);
		padding-top: 0;
		display: grid;
		grid-template-columns: 5fr 7fr;
		align-items: center;
		gap: 50px;

		margin: 5rem 0;

		@media only screen and (max-width: 1024px) {
			gap: 0;
			grid-template-columns: 1fr;

			& p {
				width: 80%;
				justify-self: end;
				padding-bottom: 3.5rem;
			}
		}

		& h1 {

			font-size: clamp(3.125rem, 2.15rem + 4.875vw, 8rem);
			letter-spacing: 0.5rem;
			margin-left: clamp(1rem, -5rem + 9.375vw, 10rem);
			margin-bottom: 0.5rem;

			& span {
				display: block;
			}

			/* transition-property: filter;
			transition-duration: 300ms;
			transition-timing-function: ease-out; */
		}

		/* &:has(h1:hover)>h1:not(:hover) {
			filter: blur(15px);
		}

		>h1+p {
			translate: 100%;
			transition-timing-function: ease-out;
			transition-property: translate;
			transition-duration: 300ms;
		}

		>h1:hover+p {
			translate: 0%;
		} */

		& p {
			font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
			text-align: right;
			margin: 0 clamp(1rem, -5rem + 9.375vw, 10rem);
			letter-spacing: 0.1rem;
		}
	}

	.Cards {
		display: flex;
		width: 100lvw;
		height: 100lvh;
		overflow-x: hidden;
		
		.container {
			flex-shrink: 0;
			width: 100lvw;
			height: 100lvh;
			padding: clamp(1.0625rem, 0.3375rem + 3.625vw, 4.6875rem);
			box-sizing: border-box;

			display: grid;
			place-items: center;
			.Card {
				max-width: 526px;
			}

			&:nth-child(1) {
				/* background-color: rgb(245, 245, 220); */
				background: linear-gradient(0.25turn, hsl(60, 17%, 41%), hsl(144, 17%, 41%));
			}
			&:nth-child(2) {
				background: linear-gradient(0.25turn, hsl(144, 17%, 41%), hsl(2, 17%, 41%));
			}
			&:nth-child(3) {
				background: linear-gradient(0.25turn, hsl(2, 17%, 41%), hsl(295, 17%, 41%));
			}
			&:nth-child(4) {
				background: linear-gradient(0.25turn, hsl(295, 17%, 41%), hsl(60, 17%, 41%));
			}
		}
	}
}