#ThreeD {
	position: relative;
	min-height: 100lvh;
	/* width: 100lvw; */
	/* background-color: hsl(164, 63%, 36%); */
	/* background-color: rgb(8, 95, 170); */
	display: flex;

	align-items: center;

	.SplineContainer {
		position: absolute;
		height: 100%;
		width: 100lvw;
		left: 0;
		z-index: 1;

		pointer-events: none;

		top: 0;
	}
}

:has(#ThreeD) #AppFooter {
	min-height: 100lvh;
	margin-top: auto;
	align-content: end;

	>div {
		z-index: 1;
		position: absolute;
		box-sizing: border-box;
		width: 100lvw;
		bottom: 0;
	}
}