#Database {

	min-height: 100lvh;
	position: relative;
	display: grid;
	
	align-items: center;

	.ReactFlow {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	@media only screen and (max-width: 799px) {
		align-items: start;
		justify-content: center;
		min-height: auto;
		padding-bottom: 20rem;
	}
}

.myHandle {
	position: relative;
}