#AppFooter {
	position: relative;

	>div {
		padding: 3rem 3rem 0rem 3rem;
		color: hsl(169, 64%, 94%);
		font-family: var(--sofia-sans);


		gap: 20px;

		display: grid;
		grid-auto-columns: auto;
		grid-auto-rows: 1fr;

		white-space: nowrap;

		grid-template-areas: "a a" "b b" "c d";

		@media only screen {
			@media (min-width: 35rem) {
				padding: clamp(3.125rem, 2.5806rem + 1.5121vw, 5rem) 3rem;
				grid-template-areas: "b a" "c d";

				@media (min-width: 58rem) {
					grid-template-areas: "c d b a";
				}
			}
		}

		& a {
			color: hsl(169, 64%, 94%);
		}

		& h1 {
			font-size: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
		}

		& h2 {
			font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
		}

		& h3 {
			font-size: clamp(0.625rem, 0.5179rem + 0.5357vw, 1rem);
		}

		.get_in_touch {
			grid-area: a;
			padding: clamp(1.25rem, 1.375rem + -0.625vw, 0.625rem) clamp(2.5rem, 2.75rem + -1.25vw, 1.25rem);
			place-self: center;


			font-size: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);

			border: 1px solid hsl(169, 64%, 94%);
			border-radius: 40px;
			background-color: hsla(0, 0%, 0%, 0);

			transition-property: background-color;
			transition-duration: 300ms;

			&:hover {
				background-color: hsla(0, 0%, 58%, 0.25);
			}
		}

		.platforms {
			grid-area: b;

			>nav {
				display: flex;
				gap: 1.5rem;

				& a {
					transition-property: color, font-weight;
					transition-duration: 300ms;

					&:hover {
						color: hsl(0, 0%, 0%);
						font-weight: bolder;
					}
				}
			}
		}

		.version {
			grid-area: c;
		}

		.last_update {
			grid-area: d;
		}
	}
}