body {
	font-family: var(--sofia-sans);
	background-color: hsl(0, 0%, 30%);
	margin: 0;
	color: white;
	position: relative;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2 {
	margin: 0;
}


/* Lenis styling */
html.lenis {
	height: auto;
}

.lenis {
	.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis-stopped {
		overflow: hidden;
	}

	.lenis-scrolling iframe {
		pointer-events: none;
	}
}