#AppHeader {
	background-color: hsl(167, 10%, 53%);
	color: #E4F9F5;
	white-space: nowrap;

	position: relative;

	.Marquee {
		position: absolute;
		bottom: 0;

		& h1 {
			font-family: var(--sofia-sans);
			font-weight: 700;
			font-size: clamp(5.9375rem, 4.625rem + 6.5625vw, 12.5rem);
		}
	}

	.image-container {
		position: relative;
		width: 100vw;
		height: 100svh;

		& img {
			object-fit: cover;
			object-position: bottom;
		}
	}
}

#AppMain {
	background-color: hsl(192, 32%, 38%);
	padding-bottom: 4rem;
}