#Projects .Card {
	box-shadow: 24px 30px 12px 0px rgba(0, 0, 0, 0.25);
	width: 438px;
	height: 484px;
	border-radius: 0.5rem;

	overflow: hidden;

	>.Header {
		padding: 1.5rem;

		.Title {
			font-size: clamp(1.875rem, 1.8rem + 0.375vw, 2.25rem);
			color: white;
		}
		
		.Subtitle {
			font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
			color: hsla(0,0%,100%,.6);
		}
	}

	>.Content {
		margin: 20px 20px 0 20px;
		position: relative;
	}
}